* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;

}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.disppear{
   animation: vanish 1s forwards;

}

@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

header{
    width: 100%;   
    display: flex;  
    
}
.nav-tag{
    width: 100%;
    height: 65px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-bottom: 15px;
    opacity: 0.8;
    z-index: 2;
    align-items: center;
   
}
.container-list {

 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 
 
 

}

.nav-logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img{
    width: 100px;
    height: 50px;
    
}
.container-list ul{
    display: flex;
    text-decoration: none;
    margin-right: 200px;
    list-style: none;
    
    
}
.container-list li{
    padding: 20px;
    text-decoration: none;
    list-style: none;
   
    
}

.container-list a{
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    padding: 0 20px;
    font-weight: bold;
    transition: all 500ms ease;
       
}
.container-list a:hover{   
    border-bottom: 2px solid rgb(26, 188, 156);  
    color: black;   
    
}

.container-list .submenu{
   background-color: #ffffff;
   box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
   display: none;

}

.container-list .submenu li a{
 line-height: 10px;
}

.container-list ul li a:hover + ul, .container-list .submenu:hover{
 display: flex  ;
 flex-direction: column;
 cursor: pointer;
 padding: 0;
 margin-left: 0;
 margin-right: 0;
 margin-top: 0;
 margin-bottom: -100px;
 box-sizing: border-box;
 
}

.hamburger{
    display: none;
    cursor: pointer; 
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/*Main*/

.display{
    width: 100%;
    height: 900px;  
    
    
   
}

.profileDisplay{
    width: 100%;
    height: 700px;
    display: flex;
}

.contenedor{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.buscador{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
    
    
}

.conBuscador{
    width: 100%;
    
    
    
}

#search{
    width: 350px;
    height: 30px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 1.2rem;
    position: absolute;
    
}

.conBuscador i{
    position: relative;
    left: 310px;
    top: 10px;
    font-size: 1.6rem;
}
.enviar{    
    position: relative;
    left: 350px;
    width: 60px;
    height: 30px;
    top: 8px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 1rem;
    cursor: pointer;
}
.enviar:hover{
background-color: #45B39D;
color: white;
}


.container{
    width: 100%;
    height: 900px;
    position: relative;
    display: flex;
    margin-left: 20px;
    justify-content: space-between;

}

.container .card{
    position: relative;
    cursor: pointer;

}

.container .card .face{
    width: 320px;
    height: 220px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(120px);
}

.container .card:hover .face.face1{
    background: #20E3BC;
    transform: translateY(0);

}

.container .card .face.face1 .content{
    
    transition: 0.5s;

}

.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card .face.face1 .content img{
    max-width: 130px;
}
.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.container .card .face.face2 .content a{
    margin:15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    font-size: 1rem;

}

.container .card .face.face2 .content a:hover{
    background: #333;
    color:  #fff;
}

/*Modal container*/


.modal-container{
     display: flex;
        background-color: rgba(8, 6, 6, 0.3);
        align-items: center;
        justify-content: center;
        position: fixed;
        opacity: 0;
        pointer-events: none;
        top: 0;
        left: 0;
        z-index: 3;
        height: 100vh;
        width: 100vw;
}

.modal{
   background-color: #fff;
   width: 700px; 
   max-width: 100%;
   padding: 30px 50px;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   text-align: center;
   display: flex;
   justify-content: center;
}

.show{
    pointer-events: auto;
    opacity: 1  ;
}
.close-btn{    
    top: -11px;
    right: 157px;
    width: 20px;
    height: 20px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    font-size: 1rem;
}
 
 .modalcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 500px;
    text-align: center;
  }
  
  .cardtitle {
    color: grey;
    font-size: 3rem;
    font-weight: 700;

  }

  .modalcard p{
    color: grey;
    font-size: 1.5rem;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;    
    font-size: 18px;
  
  }
  
  a{
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }